.earning_section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 0 0 0;
}
.earning_section .chart{
    height: 70%;
}
.earning_section .chart .recharts-default-tooltip{
    background-color: black !important;
    border-color:black !important ;
    border-radius: .6rem;
}
.earning_section .top .info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3rem;
}
.earning_section .top .info h1{
    font-size: 2rem;
}
.earning_section .top .info .growth{
    background-color: #d7e41e1d;
    padding: 0.5rem;
    border-radius: 1rem;
    transition: 0.3s ease-in-out;
}
.earning_section .top .info .growth:hover{
    background-color: #ffc107;
}
.earning_section .top .info .growth:hover span{
    color: black;
}
.earning_section .top .info .growth span{
    color: #ffc107;
}