
.profile-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.card .img{
    display: flex;
    align-items:center;
    justify-content: center;
}
.profile-section .card .img{
    max-height: 10rem;
    overflow: hidden;
    border-radius: 20rem;
}
.profile-section .img img{
    height: 10rem;
    width: 10rem;
    object-fit: cover;
    border-radius: 20rem;
    transition: 0.5s ease-in-out;
}
.profile-section .img:hover img{
    transform: scale(1.1);
}
.profile-section .card .title{
    text-align: center;
    margin-top: 1rem;
}
.profile-section .card .title h5,h2{
    color: #ffc107;
    font-family: sans-serif;
    letter-spacing: 0.3rem;
}
.profile-section .card .info {
    display: flex;
    justify-content: center;
    gap: 1rem;
    text-align: center;
    margin-top: 2rem;
}